doctype
html
	head
		<?php wp_head(); ?>
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Some wordpress web page test
	body.container
		header
			nav
				ul
					li Conoceme
					li Proyectos
					li Tecnologías
					li Otros
